.text {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  .inner {
    padding: 6em;
    margin: 0 auto;
    text-align: center;

    h2{
      font-size: 3.5rem;
    }

    .TextContainer{
      margin: auto;
    }

  
  }
}

@media (max-width: 1024px) {
  
  .text{
    .inner{
      padding: 4em 2em;
  
      h2{
        font-size: 2.75rem;
        line-height: 2.75rem;
      }
    }
   }
}

@media (max-width: 767px) {
  .text{
    .inner{
      padding: 4em 2em;
      text-align: left;
  
      
    }
   }
}